/* .data-table {
    margin-top: 80px;
} */

th.MuiTableCell-root {
    z-index: 0 !important;
}

.dataTables_wrapper {
    margin-top: 80px;
}

.web-btn {
	color: white;
	background: #3C5999 !important;
}

.data-text {
	color: #3C5999;
}