__pycache__/

test_crawl/
test_connect_db/
test_open_json_files/
test_selenium/
virenv_linux/
virenv_win/

chromedriver.exe
price_prediction_model/data_thesis/data_thesis.csv
price_prediction_model/trained/

bds_crawler/bds_realestatedata_*.csv
