appdirs==1.4.4
asgiref==3.3.1
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cssselect==1.1.0
decorator==4.4.2
Django==3.1.7
django-cors-headers==3.7.0
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
fake-useragent==0.1.11
idna==2.10
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.2
Markdown==3.3.4
parse==1.19.0
parso==0.8.1
pickleshare==0.7.5
Pillow==8.1.0
prompt-toolkit==3.0.16
psycopg2==2.8.6
pyee==8.1.0
Pygments==2.8.0
PyJWT==1.7.1
pyppeteer==0.2.5
pyquery==1.4.3
pytz==2021.1
requests==2.25.1
requests-html==0.10.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
tqdm==4.59.0
traitlets==5.0.5
urllib3==1.26.3
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
