.mail-list a {
    text-decoration: none !important;
    display: block;
    color: #343a40;
    line-height: 24px;
    padding: 6px 5px;
}

button, a {
    outline: none !important;
}

.web-btn {
	background: #3C5999;
}

.dashboard-text {
	color: #3C5999;
}

a.dashboard-text {
	color: #3C5999 !important;
	font-weight: 600 !important;
}

.bg-violet {
    background-color: #6f42c1 !important;
}

.pie-chart {
    max-width: 500px;
}